*
!*/
~*.*
~*.sublime-workspace
*.dll
stockminer
*.o
*.exe
*.so
*.py[cod]
deps/
build/
db/


www/*.pem
www/key.pem
!www/video/*
!www/img/*
!www/nginx.conf
!doc/notes/links.txt
src/test/
__pycache__/
__pyccel__/
cscope.out

!.gitignore
!*.TXT
!.md
!config.ini
!LICENSE
!*.c
!*.h
!*.py
!.sh
!.bat
!*.cpp
!*.html
!*.js
!*.css
!*.json
!*.ts
!*.rs
!*.go
!g
!e
!inc
!configure
!Makefile
!src/external/*
!src/website/**/*
!src/scripts/*
!src/python/**/*
!notes/*
